
html {
    width: max(100vw, 100vh / 1.414);
    max-width:100%;
    height: calc(100vmax / 1.414);

    background: #232323;
}

body {
    height: 100%;
    color: white;
    font-size: 0.8vw;
}

body, html {
    padding: 0;
    margin: 0;
}

#content {
    background: #232323;
    font-family: "Source Code Pro", monospace;

    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content-item {
    flex: 1 1 0;
    text-align: center;

    padding-bottom: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.content-item p {
    text-align: left;
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.content-item + .content-item {
    border-left: 0.8vw solid black;
}

#controls {
    background: #2c2c2c;
    font-family: monospace;

    height: 2.2vw;
    width: 100%;

    line-height: 1vw;
    font-size: 1vw;

    position: sticky;
    bottom: 0;
    z-index: 8;

    display: flex;
    flex-direction: row;
}

.control-elem {
    padding: 0.1vw 1vw 0 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    text-align: center;
}

.control-elem + .control-elem {
    border-left: 0.2vw solid gray;
}

#project {
    background: #424242;
    font-size: 1.3vw;
}

#name {
    background: #606060;
}

#download_button {
    color: black;
    position: relative;
    height: 100%;
    padding: 0.1vw 1vw 0 1vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #b1cf31;

    border: none;
}

#download_button:hover {
    background: #c4db64;
    cursor: pointer;
    transition: all 0.5s ease;
}

#separator {
    margin-left: auto;
}

.mapf-image {
    width: 60%;
}

h1 {
    font-size: 2.5vw;
}

h2 {
    font-size: 2vw;
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.gif {
    position: relative;
}

.gif:hover .static {
    display: none;
}

.gif:not(:hover) .dynamic {
    display: none;
}

figure {
    padding: 0;
    margin: 0;
}

.redborder {
    border: 0.2vw solid red;
}

mark {
    background-color: inherit !important;
    color: #ae4b6c;
}

#tu {
    font-weight: bold;
    color: #00A6D6;
}

a {
    color: #00A6D6;
    font-weight: bold;
}