
.mobile {
    font-size: 20px !important;
}

.mobile body {
    color: white;
    font-size: 20px !important;
}

.mobile_only {
    display: none;
}

.mobile .mobile_only {
    display: block !important;
}

.mobile .no-mobile-only {
    display: none !important;
}

.mobile body, html {
    padding: 0;
    margin: 0;
}

.mobile #content {
    padding-top: 40px;
    display: block;

    height: auto;
    padding-bottom: 5vw;

    background: #232323;
    font-family: "Source Code Pro", monospace;
}

.mobile .content-item {
    height: auto;
    text-align: center;
}

.mobile .mapf-image {

}

.mobile .content-item + .content-item {
    border-left: 0 !important;
}

.mobile #controls {
    background: #2c2c2c;
    font-family: monospace;

    height: 5vw !important;
    width: 100%;

    line-height: 2vw;
    font-size: 2vw;


    position: fixed !important;
    bottom: 0;
    z-index: 20;

    display: flex;
    flex-direction: row;
}

.mobile .control-elem {
    padding: 0.6vw 0.2vw 0.2vw 0.2vw;

    height: 100%;
}

.mobile .control-elem + .control-elem {
    border-left: 0.2vw solid gray;
}

.mobile #project {
    background: #424242;
    font-size: 2vw;
}

.mobile #name {
    background: #696969;
}

.mobile #download_button {
    color: black;
    position: relative;
    height: 100%;
    padding: 0.6vw 4px 0 4px;

    background: #b1cf31;

    border: none
}

.mobile #download_button:hover {
    background: #c4db64;
    cursor: pointer;
    transition: all 0.5s ease;
}

.mobile #separator {
    margin-left: auto;
}

.mobile .mapf-image {
}

.mobile h1 {
    font-size: 30px !important;
}

.mobile h2 {
    font-size: 25px !important;
}

.mobile .gif {
    position: relative;
}

.mobile .gif:hover .static {
    display: none;
}

.mobile .gif:not(:hover) .dynamic {
    display: none;
}

