[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mapfmclient = "*"
np = "*"
numpy = "*"
pyglet = "*"
pygame = "*"
imageio = "*"
matplotlib = "*"
optional = "*"
pathlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
