
.poster {
    width: 1189mm !important;
    height: 841mm !important;

    font-size: 11mm !important;
}


.poster h1 {
    font-size: 25mm !important;
}

.poster h2 {
    font-size: 20mm !important;
    line-height: 20mm !important;
    padding-bottom: 5mm;
    padding-top: 5mm;
    margin: 0;
}

.poster .content-item + .content-item {
    border-left: 5mm solid black !important;
}

.poster .content-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.poster .download_button {
    display: none !important;
}


.poster #content {
}

body:not(.poster) .poster_only {
    display: none !important;
}

.poster .web_only {
    display: none !important;
}

#interactive-version {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #662C40;
    padding: 20mm;
}

#interactive-version a {
    white-space: nowrap;
    color: #00A6D6;
    font-weight: bold;
}

